* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-container {
  margin: 0 auto;
  width: 80%;
}

.post-container {
  margin: 1rem auto;
  padding: 2rem;
  border-radius: max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) / 8px;
  width: 80%;
  box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.05);
}
.post-img {
  height: 500px;
  width: 100%;
  border-radius: max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) / 8px;
}

.post-main-container {
  width: 80%;
  margin: 1rem auto;
  padding: 2rem;
}
.dlt-btn {
  padding: 0.5rem;
  border-radius: 2rem;
  width: 3rem;
  border: none;
  outline: none;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  background-color: transparent;
}

.dlt-btn:hover {
  background-color: rgba(255, 0, 0, 0.274);
}

.dlt-btn:hover {
  animation: shake 3s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
.dlt-icon {
  font-size: 1.25rem;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 1px, 2px);
  }
}
.btn-primary {
  padding: 0.5rem;
  border-radius: 6px;
  border: none;
  outline: none;
  margin: 0 0 0 2rem;
}
